.card {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    border-radius: 1rem;
    height: 17rem;
}

.card-img-top {
    width: 4rem !important;
    margin-left: 2rem;
    height: 6rem;
}

.card-title {
    font-weight: bold;
    font-size: larger;
}

#Male {
    color: #5099BC;
}

#Female {
    color: #FEBA63;
}

.likeBtn {
    background-color: #EACBD1;
    border-color: #EACBD1;
    color: white;
    width: 40px;
    height: 35px;
    border-radius: 20px;
}


.likeBtn:hover {
    background-color: #e85a77;
    border-color: #e85a77;
}

.likeBtn:active {
    background-color: #e85a77;
    border-color: #e85a77;
}

#searchVillager {
    border-radius: 2rem;
    padding: 10px 8px 0 15px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(216, 233, 231);
    border: 6px dotted #A1D8D3;
    margin-bottom: 0;
}

#singleCardImg {
    width: 9rem;
    margin-left: -8rem;
}

#searchVform {
    width: 15rem;
}

#singleVinfo {
    width: 84%;
}

@media only screen and (max-width: 414px){
    .card-img-top {
        margin-top: 1rem;
        margin-left: 6rem;
    }

    #singleCardImg {
        margin-top: 1rem;
        margin-left: 0;
    }

    #singleVinfo {
        width: 95%;
    }

    .cardDeck {
        margin-bottom: 1rem;
    }
}