.card {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    border-radius: 1rem;
    height: 17rem;
}

.card-img-top {
    width: 4rem !important;
    margin-left: 2rem;
    height: 6rem;
}

.card-title {
    font-weight: bold;
    font-size: larger;
}

#Male {
    color: #5099BC;
}

#Female {
    color: #FEBA63;
}

.likeBtn {
    background-color: #EACBD1;
    border-color: #EACBD1;
    color: white;
    width: 40px;
    height: 35px;
    border-radius: 20px;
}


.likeBtn:hover {
    background-color: #e85a77;
    border-color: #e85a77;
}

.likeBtn:active {
    background-color: #e85a77;
    border-color: #e85a77;
}

#searchVillager {
    border: 6px dotted #A1D8D3;
}