.headerName {
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0 2.7rem 8rem !important;
}

.headerDiv {
    background-color: #285960;
    color:#FEBA63;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

#content {
    background-color: #285960;
    color:#FEBA63;
    font-family: 'Nunito', sans-serif;
    /* position: absolute;
    margin-left: 15.6rem;
    margin-top: -47.9rem;
    width: 82.5%;
    height: 20%; */
    z-index: -1;
}

.logoutSection {
    padding-top: 3rem;
    padding-right: 1rem;
}

#logoutImg {
    width: 4rem;
}

.timeSection {
    padding-top: 1.5rem;
    font-size: 1.4rem;
}

.row {
    margin-right: 0;
}

@media only screen and (max-width: 414px){
    .container {
        max-width: 100%;
        width: 100%;
    }

    .headerName {
        font-size: 1.9rem;
        padding: 2rem 0 2.7rem 5rem !important;
    }

    .logoutSection {
        padding-top: 1rem;
    }

    #logoutImg {
        width: 3rem;
    }
}
