#sidebar {
    z-index: 1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    min-width: 250px;
    max-width: 250px;
    text-align: center;
    background-color: #80C687;
    display: inline-block;
    min-height: 100vh;
    box-shadow: 3px 1px 10px grey; 
    margin-top: -11.5rem;
}

.sidebar-header {
 padding-top: 0.85rem;
 color: #FEBA63;
 background-color: #6eb576;
}

.userPhoto {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: solid #FEBA63 0.2rem;
}
.sidebarLink {
    font-size: 1.2rem;
}

a:link {
    color: #21749a;
    text-decoration: none;
}

a:hover {
    color: #21749a;
}

.ribbon {
    text-align: right;
    /* padding: 0.8rem 1rem 0.5rem 0; */
    margin-bottom: 1rem;
    width: 250px;
    height: 64px;
    background: #A1D8D3;
    opacity: 0.95;
    border-radius: 0px 30px 30px 0px;
}

#driftBottle {
    width: 5rem;
    opacity: 0.9;
}

.userName {
    font-size: 1.2rem;
}
  
@media only screen and (max-width: 414px){
    #sidebar {
        max-width: 95px;
        min-width: 95px;
        margin-top: -1.4rem;
    }

    .ribbon {
        max-width: 95px;
        padding: 0 8px;
    }

    .sidebarLink {
        font-size: 0.9rem;
        padding: 0;
    }
    
}